.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.container h1 {
  margin-bottom: 50px;
}

.content_container {
  max-width: 600px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.form textarea, .form input {
  color: var(--umber);
  font-size: 16px;
  background-color: var(--sienna);
  border: none;
  border-radius: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.form input, .form textarea {
  margin-bottom: 15px;
}

.form textarea::placeholder, .form input::placeholder {
  color: var(--umber);
  opacity: 0.8;
  font-size: 16px;
}

.form a {
  border-radius: 35px;
  background-color: var(--umber);
  color: var(--sienna);
  padding: 15px 30px;
  text-align: center;
}