.button {
  border-radius: 35px;
  width: 135px;
  height: 55px;
  text-align: center;
  background-size: 60%;
  background-position: center center;
  background-repeat: no-repeat;
}

.button_airbnb {
  background-color: var(--airbnb);
  background-image: url('../assets/images/airbnb-logo.svg');
}

.button_vrbo {
  background-color: var(--vrbo);
  background-image: url('../assets/images/vrbo-logo.svg');
}

.button_hipcamp {
  background-color: var(--hipcamp);
  background-image: url('../assets/images/hipcamp-logo.svg');
}