.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 padding: 100px 0 100px 0;
}

.footer img {
  margin: 25px 0;
  transition: transform 0.2s ease-in-out;
}

.footer img:hover {
  transform: translateY(-5px);
}

hr {
  height: 1px;
  width: 250px;
  background-color:var(--umber);
  border: none;
  margin-bottom: 50px;
}